*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e8e8), to(#c8c8d3));
  background: linear-gradient(to bottom, #e2e8e8, #c8c8d3);
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.grid__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (40px)[5];
  -ms-grid-columns: (40px)[4];
      grid-template: repeat(5, 40px)/repeat(4, 40px);
  gap: 1px;
  background: ivory;
}

.grid__container > button {
  cursor: pointer;
  border: none;
  background: rbga(255, 255, 255, 0.75);
}

input {
  width: 164px;
  height: 50px;
  border: none;
  font-size: 24px;
  color: ivory;
  background: #222;
  text-align: right;
}

.ac,
.equal {
  grid-column: span 2;
}

.equal {
  background: #bdc8d3;
}
